.size {
    height: 50px;
    width: 150px;
    background-color: yellow;
    margin-left: 200px;
}

/*////////////////////////////////////////////////////////EVENT PAGE/////////////////////////////////////////////////*/
